<li id="<%=playlist.id%>"><%= link_to playlist.name, playlist_path(playlist) %> |
  <%= link_to "deelete", playlist, method: :delete, remote: true %>
|
  <%=link_to "edit~", playlist, method: :put%></li>
